
section{width:100%; overflow: hidden;}
.container{margin:0 auto; width:1140px; height:100%;z-index:0;}
h2 {font-size:46px; font-weight:normal;}


#block-firstPage{height:1000px; width:100%; background-color:#22B573; font-size: 100px; color:white; text-align: center;}
.blockTitle{display:none; position:absolute; margin:0 auto; width:100%;}
#fstPage-down{position:absolute; bottom:16px; height:18px; width:100%;}
#fstPage-down a{display:block; height:18px; width:32px; margin:0 auto; background:url(../image/down.png) no-repeat center}


#block-nav {position:relative; top:0; height:52px; background-color:#42474B; color:white; }
#block-nav a{padding:0 25px; font-size:14px; line-height:52px; cursor:pointer; z-index: 1; color:white;}
#block-nav a:hover{color:#999;}
#logo{display: inline-block;}


#block-intro {height:auto; width:100%; background-color:#1889C5; padding:60px 0 100px;}
#intro-icon  {height:300px; width:100%; line-height:300px;}
.link        {display:inline-block; height:100px; width:100px; text-indent: -9999em;-webkit-transition:0.4s linear;transition:0.4s ease-in;}
.link:hover  {-webkit-transform:rotate(360deg);transform:rotate(360deg);}

#myPhoto       {height:270px; width:270px; display:inline-block; margin:0 0 0 400px;}

#intro-text    {display:inline-block; margin:80px 0 0 130px; color:white;}
#intro-text li {height:30px;}
#intro-text ul li a {display:inline-block;}
#intro-text ul li a:hover {border-bottom:2px solid white;}
#intro-text ul li span {display:inline-block; text-align:right; width:70px;}
#intro-text div {display:inline-block; width:550px; margin-left:120px;}
#intro-text>div>p {margin-bottom:26px;}


#block-skill {height:auto; width:100%; background-color:#9C58B6; color:#FFFFFF; padding-bottom:160px; }
#block-skill .skill-title {width:300px; margin:0 auto; padding-top:100px; text-align:center;}
#block-skill .skills {height:auto; width:auto;}
#block-skill ul {display:inline-block; height:auto; width:210px; margin:80px 0 0 56px; border:2px solid #FFFFFF; font-size:20px; font-family:"Microsoft YaHei light"; text-align: center; vertical-align: top;}
#block-skill li {height:36px; line-height:36px;}
#block-skill li:first-child {background-color:#FFFFFF; color:#333;}
#block-skill li:hover{background-color:#FFFFFF; color:#333; cursor:default;}


#block-studyEXP {height:auto; width:100%; background-color:#26B1B6; color:#e7e7e7;padding:160px 0}
#block-studyEXP .study-title {width:300px; margin:0 auto; text-align:center;}
#block-studyEXP .studyEXP-main {height:auto; width:auto; margin:100px 0 0 270px;}
#block-studyEXP .timebox {margin-left:194px; font-size:29px;}
#block-studyEXP .timebox li{display:inline-block; margin-top:5px;}
#block-studyEXP .time1 {margin-left:110px}
#block-studyEXP .studybox  {margin-left:194px;}
#block-studyEXP .studybox li{display:inline-block; width:310px; vertical-align: top;}
#block-studyEXP .studybox li label{display:block;}
#block-studyEXP .studybox .study-place {font-size:26px; font-weight:bold}
#block-studyEXP .studybox .study-position {font-size:20px;}
#block-studyEXP .studybox .study-do {margin-top:10px; font-size:16px;}




#block-wantMore {width:100%; background-color:#ED6461; color:#fff;}
#block-wantMore>p {display:block; position:relative; margin:0 auto; width:100%; text-align:center; font-size: 30px;}


body>a {height:0;}